<!doctype html>

<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Список изображений</title>
</head>

<body>
    <h1>Список изображений</h1>
    {% if not images %}
        <p>
        Нет доступных изображений
        <p>
    {% endif %}
    {% for img_name, img in images.items %}
        <a href="{% url 'processing:resize_image' img.id %}">{{ img_name }}</a>
        <p>
    {% endfor %}
    <p>
    <a href="{% url 'processing:upload_image' %}">Добавить изображение</a>
</body>

</html>
